/* ---------------------------------------------------------------------------- 
    Base
/* ------------------------------------------------------------------------- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul{
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1rem;
}

ol{
    list-style: decimal;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
}