/* ---------------------------------------------------------------------------- 
    Base
/* ------------------------------------------------------------------------- */

html {
    box-sizing: border-box;
    color: #222; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul{
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1rem;
    list-style-position: inside;
}

ol{
    list-style: decimal;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
    list-style-position: inside;
}

img{
    width: 100%;
    height: auto;
}