/* ---------------------------------------------------------------------------- 
    Navigation
/* ------------------------------------------------------------------------- */

.navigation{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;

    height: 5rem;
    ul {
        list-style: none;
        display:flex;
        li{
            padding-left: 1rem;
        }
    }

    a{
        text-decoration: none;
    }
}